<a href="https://colab.research.google.com/github/acamposmcr/Python/blob/master/Cuaderno_de_Referencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Este es un cuarderno de prácticas de Jupyter Notebooks

---

Opción 1

Opción 2

Opción 3


*   Elemento de lista
*   Elemento de lista

##Operadores

In [0]:
#operaciones básicas
print(2-2)
print(2*6)
5/2
print(8+5)
print() # esta línea imprime un espacio
print("Todo lo que tenga print se imprime o si ha una operación de último")
#potencia
print(5**2)
#como la siguiente no funciona como potencia
print(5^2)
#raíz cuadrada
print(25**(1/2))
#raíz cúbica
print(8**(1/3))
#cociente de operacion 10 / 3
print(10%3)

0
12
13

Todo lo que tenga print se imprime o si ha una operación de último
25
7
5.0
2.0
1

##Múltiples operaciones

In [0]:
5*2+(8*4)/(8-2)

15.333333333333332

In [0]:
print(type(2))
print(type(2.0))
type(10/2)
print(round(10/3,2))

<class 'int'>
<class 'float'>
3.33

##formas de  redondear

In [0]:
print(round(10/3))
print(int(10/3))

3
3

## Variables

In [0]:
var1 = 2
print (type (var1))
print (var1)
print (var1*8)
var1 = (var1 + 5)
var1
una_nueva_variable = 10 / var1
print (una_nueva_variable)

<class 'int'>
2
16
1.4285714285714286

##Cadenas de caracteres

In [0]:
mensaje = 'Curso de ciencia de datos con Python 3'
print(mensaje)
print (type (mensaje))
numero = '5555.123'
print(numero)

Curso de ciencia de datos con Python 3
<class 'str'>
5555.123

In [0]:
float (numero)

5555.123

In [0]:

nombre= "Alexander"
apellido="Campos Monge"
print("Mi nombre es:", nombre, " y mi apellido es: ", apellido)

Mi nombre es: Alexander  y mi apellido es:  Campos Monge

In [0]:
print("El tipo de dato de mi nombre es: ", type(nombre))

El tipo de dato de mi nombre es:  <class 'str'>

In [0]:
#Otra forma es:
print("Mi nombre es: {} y mi apellido es: {}" .format(nombre,apellido))

Mi nombre es: Alexander y mi apellido es: Campos Monge

##Booleanos y comparadores

In [0]:
True
print(type(True))
False
print(type(False))
print (10<5)

<class 'bool'>
<class 'bool'>
False

In [0]:
#para comparar uso 2 signos de igual
10==10

True

In [0]:
10 != 5

True

In [0]:
a = 30
b = 10
print (a >= b)
print ("c" > "d")

True
False

In [0]:
provincia = "San José"
canton = "San Pedro"
if provincia == "San José":
    print (provincia)


print(provincia == "San José" )
print (provincia == "San José" and provincia == "Cartago")

San José
True
False

##Funciones con str

In [0]:
curso = "ciencia de datos con python"
curso

'ciencia de datos con python'

In [0]:
print (curso)

ciencia de datos con python

In [0]:
len(curso)

27

In [0]:
curso.swapcase()

'CIENCIA DE DATOS CON PYTHON'

In [0]:
curso.count("n")

3

In [0]:
numero = 5

In [0]:
numero.bit_length()

3

In [0]:
#Buscar en qué ubicación de cadena de caracteres está
curso.find("de")

8

In [0]:
2+2

4

In [0]:
"2+2"

'2+2'

In [0]:
"2" + " 2"

'2 2'

In [0]:
" ja" *3

' ja ja ja'

In [0]:
numeros = "83508006540564564640565640564564065450464654056456405640564056404564064"
len (numeros)

71

In [0]:
sorted(numeros)

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '6',
 '8',
 '8']

In [0]:
print(numeros)
numeros=numeros.replace("0","o")
print(numeros)

83508006540564564640565640564564065450464654056456405640564056404564064
835o8oo654o56456464o56564o564564o6545o464654o564564o564o564o564o4564o64

In [0]:
num1="0123456789"
num2="1234567890"

num1.index("0")
print (num1.index("0"))
num2.index("0")

0

9

##funciones de ayuda

In [0]:
#con ? y funcion, me indica cómo se usa 
?len()

In [0]:
cadena = '1234511'
cadena.replace('1',' HOLA ',2)

' HOLA 2345 HOLA 1'

##Funciones

In [0]:
x=10
y=20
resultado=x+y
resultado

30

In [0]:
def suma(x,y):
  resultado=x+y
  return resultado

In [0]:
print(suma(2,5))
print(suma(2.5,5))
print(suma(2,5.5))

7
7.5
7.5

In [0]:
def suma_resta(x,y):
  suma=x+y
  resta=x-y
  return suma,resta

In [0]:
suma_resta(5,15)

(20, -10)

In [0]:
def kph2mph(kph):
  mph=kph/1.609
  return print('mph:' , round(mph))

In [0]:
kph2mph(80)

mph: 50

##Importando Librerías

In [0]:
#en Data Science se usan 4 librerías con mayor frecuencia

In [0]:
import math as m 
#puedo importar sólo una función específica de la librería así:
from math import pi
#puedo importar todas las funciones directamente, para no tener que estar poniendo el m. o math.
from math import *

In [0]:
m.sin(m.pi)
# dir(math) nos despliega todas las funciones dentro de la librería math()

1.2246467991473532e-16

In [0]:
m.floor(m.pi)

3

In [0]:
pi

3.141592653589793

##Estructuras de Datos

In [0]:
mi_lista = [4,3,2,1]
mi_lista2 = [1.1,2.2,3.3,4.4]
mi_lista3 = ["uno","dos","tres","cuatro"]
mi_lista4 = [1,"2.0","3",4]
mi_lista5 = [1,"2.0","3",4]
nombres = ["alex", "esteban", "juan", "jose"]

In [0]:
print(mi_lista)
print(mi_lista2)
print(mi_lista3)
print(mi_lista4)
print(mi_lista5)
print(len(mi_lista))
print(sorted(mi_lista))
print(sorted(mi_lista2,reverse=True))

[4, 3, 2, 1]
[1.1, 2.2, 3.3, 4.4]
['uno', 'dos', 'tres', 'cuatro']
[1, '2.0', '3', 4]
[1, '2.0', '3', 4]
4
[1, 2, 3, 4]
[4.4, 3.3, 2.2, 1.1]

In [0]:
nombres.append("oscar")
nombres.sort()
nombres

['alex', 'esteban', 'jose', 'juan', 'oscar']

In [0]:
nombres.remove('juan')

In [0]:
nombres

['alex', 'esteban', 'jose', 'oscar']

In [0]:
nombres.count('alex')

1

In [0]:
#quita el último registro
nombres.pop()

In [0]:
nombres

In [0]:
nombres = ["alex", "esteban", "juan", "jose","fabio"]
nombres.sort()
nombres

In [0]:
nombres[1:3]

In [0]:
#estoy trayendo sólo una parte
nombres[-3:]

In [0]:
nombres.insert(2,"Ramón")

In [0]:
nombres

In [0]:
numeros='0123456789'
print(numeros[1:4])
print(numeros[4:])
print(numeros[-4:])
print(numeros[:4])
print(numeros[:-4])
print(numeros[2:-4])
print(numeros[2:4])

In [0]:
#indices: 0 1 2 3 4 5 6 7 8 9
#negat:    -9-8-7-6-5-4-3-2-1 

f_vencimiento='20251201'
año=f_vencimiento[:4]
print(año)
mes=f_vencimiento[4:6]
print(mes)
día=f_vencimiento[-2:]
print(día)
fecha=año+'-'+mes+'-'+día
fecha

In [0]:
def conv_fecha (texto_fecha):
  año=texto_fecha[:4]
  mes=texto_fecha[4:6]
  día=texto_fecha[-2:]
  fecha=año+'-'+mes+'-'+día
  return fecha

In [0]:
conv_fecha('19970130')

In [0]:
lista_fechas = ['20211022','20181002','20191010']
conv_fecha(lista_fechas[1])

##Ciclos for - in

In [0]:
numero = [1,2,3,4,5,6,7,8,9]
for item in numero:
  print(item)

1
2
3
4
5
6
7
8
9

In [0]:
for item in numero[1:3]:
  print(item)

2
3

In [0]:
for fecha in lista_fechas:
  print(conv_fecha(fecha))

In [0]:
cadena_numeros='123456789'
for caracter in cadena_numeros:
  print(caracter)

##Numpy
Es una librería que me permite usar listas de valores que usando python normal.

Es muy funcional para trabajar con matrices

In [0]:
import numpy as np
print(dir(np))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__doc__', '__file__', '__git_revision__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_arg', '_distributor_init', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex256', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float128', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rank', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [0]:
lista=[1,2,3,5]
lista=lista*2
lista

[1, 2, 3, 5, 1, 2, 3, 5]

In [0]:
#usando numpy
lista_np = np.array([1,2,3,4,5,6])
lista_np = lista_np *2
lista_np

array([ 2,  4,  6,  8, 10, 12])

In [0]:
#usando numpy
lista_np = np.array([1,2,3,4,5,6])
lista_np = lista_np *2

print(lista_np.reshape(2,3))
print()
print(lista_np.reshape(3,2))

##Pandas

In [0]:
import pandas as pd

In [0]:
#Al cargar un file, el separador por defecto es "coma",pero si es otro, debo indicarlo, ya sea ;, TAB (el delimitador es '\t'), u otro
df = pd.read_csv('Pruebas.csv', delimiter=',')
df

In [0]:
#como el archivo se borró, lo vamos a crear de forma manual
df=pd.DataFrame({'Col_A':[1,4,7],'Col_B':[2,5,8],'Col_C':[3,6,9]})
df

In [0]:
#lo guardamos en un file csv y para evitar que me lo genere con una columna de indices, debo poner la condicion index en false
df.to_csv('Pruebas.csv', index=False)

In [0]:
df.info()

In [0]:
df.describe()

In [0]:
df.columns

In [0]:
#Para renombrar las columnas
df.columns=['col_A_Rename', 'col_B_Rename', 'col_C_Rename']

In [0]:
df

In [0]:
#para traer el valor de un dato col,index ej col_B index 1
df['col_B_Rename'][1]

In [0]:
#Para traer más de 1 columna
df[['col_A_Rename','col_C_Rename']]

In [0]:
#para agregar datos
df['Col_D']=[1,5,9]
df

In [0]:
#para quitar datos uso el drop, y el axis es identificador si es colmna o fila 1 es columna y 0 es fila
df=df.drop('Col_A',axis=1)
df

In [0]:
df=df.drop(1,axis=0)
df

In [0]:
#Agregar información
df=df.append({'Col_B':3, 'Col_C':3, 'Col_D':8}, ignore_index=True)
df

In [0]:
#Con el loc lo hago direcamente a un índice, Ej vamos a agregar en el índice 4 (fila 4)
df.loc[4]=[3,5,3]
df

In [0]:
#Modificar información Ej cambiar los valores de la columna 2 por ceros
df.loc[2]=[0,0,0]
df

In [0]:
#Ver valores de columna
df['Col_C']

In [0]:
#Ver valores de Fila
df.loc[1]

In [0]:
#para reemplazar los valores
df['Col_C']=[0,0,0,0,0]
df

In [0]:
#Cargamos el archivo, pero da error por la codificación, así que debemos indicarle que es codificado en Latin_1 y con el names, le ponemos el encabezado
DE_df = pd.read_csv('Distelec.txt',names=['cod', 'prov', 'cant',  'dist'], encoding='latin-1')

In [0]:
DE_df.head()

In [0]:
#Ver tamaño
DE_df.shape
DE_df.info()

In [0]:
HE_df = pd.read_csv('HE.txt', names=['ced', 'cod', 'sex','F_venc','jun' ,'nombre', 'ape1', 'ape2'],encoding='latin-1')
HE_df.head()

In [0]:
#Ver el tamaño (342249 registros , 8 columnas)
HE_df.shape

In [0]:
#vamos a quitar la columna de Jun que no nos sirve porque todo está en ceros
HE_df=HE_df.drop('jun',axis=1)
HE_df.head()

In [0]:
#AHORA CARGAMOS SAN JOSE
SJ_df = pd.read_csv('SJ.txt', names=['ced', 'cod', 'sex','F_venc','jun' ,'nombre', 'ape1', 'ape2'],encoding='latin-1')
SJ_df.head()

In [0]:
SJ_df.shape

In [0]:
SJ_df=SJ_df.drop('jun',axis=1)
SJ_df.head()

In [0]:
#Vamos a unir dos o más dataframes (df) en uno sólo
SUM_df = pd.concat([SJ_df, HE_df])
SUM_df.head()

In [0]:
SUM_df.tail()

In [0]:
SUM_df.sample(25)

In [0]:
PADRON_df = pd.read_csv('PADRON_COMPLETO.txt', names=['ced', 'cod', 'sex','F_venc','jun' ,'nombre', 'ape1', 'ape2'],encoding='latin-1')
PADRON_df.head()

In [0]:
PADRON_df=PADRON_df.drop('jun',axis=1)

In [0]:

print()
print(PADRON_df.shape)
print()
print(PADRON_df.info())
print()


PADRON_df.sample(15)

In [0]:
#Ahora hacemos un join entre los dos df
PADRON_df=PADRON_df.merge(DE_df,on= 'cod')
PADRON_df.sample(100)

In [0]:
PADRON_df.to_csv('padron_completo.csv', index=False)

In [0]:
PADRON_df.shape

In [0]:
PADRON_df=pd.read_csv('padron_completo.csv')

In [0]:
PADRON_df.sample(20)

SEGMENTAR DATOS DE UN DF

In [0]:
#SEGMENTAR SEGÚN CRITERIOS
#Contar cantidad por tipo en la columna
PADRON_df['prov'].value_counts()

In [0]:
PADRON_df['prov'].value_counts().sum()

In [0]:
#para sacar el promedio
PADRON_df['prov'].value_counts().mean()

In [0]:
#Qué valores existen en la columna?
PADRON_df['prov'].unique()

In [0]:
PADRON_df['prov'].count()

In [0]:
#para ver los valores de la columna que sean iguales a X criterio

condicion = PADRON_df['prov'] == 'SAN JOSE'
PADRON_df[condicion]

In [0]:
PADRON_df[condicion].shape

In [0]:
condicion2 = PADRON_df['cant']=='CENTRAL'

In [0]:
condicion3 = PADRON_df['dist'].str.contains =='PIEDADES'
condicion3

In [0]:
SJ_CENTRAL_df = PADRON_df[condicion & condicion2 & condicion3]

In [0]:
SJ_CENTRAL_df

In [0]:
SJ_CENTRAL_df = PADRON_df[(PADRON_df['cant']=='CENTRAL')& (PADRON_df['prov'] == 'SAN JOSE')]

In [0]:
SJ_CENTRAL_df

In [0]:
PADRON_df.groupby('prov')['cant'].value_counts()

In [0]:
df=pd.read_csv('population.csv')
df.shape

In [0]:
#Es imporante revisar si tienen nulos, de tenerlos, se debe depurar
df.info()

In [0]:
#listar columnas, el tolist() no es necesario, pero es para que se ordene mejor
df.columns.tolist()

In [0]:
#para listar todos los índices
#df.index.tolist()

In [0]:
df.head(3)

In [0]:
df.sample(3)

In [0]:
#Para mostrar el índice y una columna en específico
df['Gender']

In [0]:
#Para mostrar el índice y una columna y pregunta una condición a ver si es verdadera por cada registro
df['Gender']=='Female'
#df['Year']<2017

In [0]:
#En el ejemplo anterior, si quisiera ver los valores que cumplen con la condición solicitada (Gender = Female (True))
cond1=df['Gender']=='Female'
df[cond1]

In [0]:
cond2=df['Year']<2017
df[cond2]

In [0]:
print(df[cond1].shape)
print(df[cond2].shape)

In [0]:
#Para ver sólo los datos que cumplen ambas condiciones
print(df[cond1 & cond2].shape)
print(df.shape)
df[cond1 & cond2]
#Or df[cond1 | cond2]

In [0]:
#Si quiero traer más de una columa, debo indicarlo como una lista (ojo los paréntesis cuadrados)  [ ['District.Name','Neighborhood.Name'] ].head()

df[(df['Gender']=='Female')&
  (df['Year']<2017)&
  (df['Year']>2014)][ ['District.Name','Neighborhood.Name'] ].sample(10)

In [0]:
#Para ver valores únicos (como el distinct de SQL) (el tolist() lo puse para verlo vertical)
df['District.Name'].unique().tolist()

In [0]:
 #y contando cuántos de cada tipo (lo ordena de mayor a menor según el índice)
  print(df['District.Name'].value_counts())
  print ('Suma: ',df['District.Name'].value_counts().sum())

In [0]:
#Para verlo en porcentaje (ojo que multipliqué por 100 y le hice el round sólo por formato)
round(df['District.Name'].value_counts(normalize=True)*100,2).values

In [0]:
#Vamos a crear un nuevo df con la unión de ambas consultas
df_distrito=df['District.Name'].value_counts().to_frame()
df_distrito

In [0]:
#Quiero cambiar el nombre de las columnas
df_distrito.columns = ['Conteo']

In [0]:
df_distrito

In [0]:
#Ahora le vamos a agregar la columna con los %
#round(df['District.Name'].value_counts(normalize=True)*100,2).values.tolist()
#lo guardo en una variable
porcentajes=round(df['District.Name'].value_counts(normalize=True)*100,2).values.tolist()
porcentajes

In [0]:
#Ahora agrego la columna y le asigno los valores de la lista que acabo de crear
df_distrito['Porcentaje']=porcentajes

df_distrito

In [0]:
#Ahora la guardo en un CSV
df_distrito.to_csv('Distritos.csv')

In [0]:
#Order by
df_distrito.sort_values('Conteo')

In [0]:
#Para agrupar distrito y según género
df.groupby('Age')['Number'].value_counts()

In [0]:
df.groupby('Age')['Number'].sum().to_frame()

In [0]:
df.groupby('Age')['Number'].sum().index

In [0]:
orden=df.groupby('Age')['Number'].sum().index.tolist()
orden

In [0]:
#la ordeno de forma manual, para después usarla en el reindex y que se vea ordenada
orden=['0-4','5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44',
       '45-49',  '50-54', '55-59', '60-64', '65-69', '70-74', '75-79',
       '80-84', '85-89', '90-94', '>=95']

In [0]:
segm_df=df.groupby('Age')['Number'].sum().to_frame()

In [0]:
segm_df

In [0]:
orden2=segm_df.index.tolist()
print (orden2)
#Re-ordeno Orden2
orden2=['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '>=95']
print (orden2)

In [0]:

#De nuevo quiero cambiar el nombre de columna
segm_df.columns=['Total']

In [0]:
segm_df= segm_df.reindex(orden2)
segm_df

GRAFICOS DE PANDAS

In [0]:
segm_df.plot(kind='barh')

In [0]:
df.head()

In [0]:
condicion = df['Gender']=='Female'
condicion2 = df['Gender']=='Male'

In [0]:
df[condicion].groupby('Age')['Number'].sum()

In [0]:
segm_df['Mujeres']=df[condicion].groupby('Age')['Number'].sum()

In [0]:
segm_df.head()

In [0]:
segm_df['Hombres']=df[condicion2].groupby('Age')['Number'].sum()
segm_df.head()

In [0]:
segm_df= segm_df.reindex(orden)
segm_df.plot(kind='line')

In [0]:
segm_df.plot(kind='bar')

In [0]:
segm_df.plot(kind='barh')

In [0]:
#Si queremos sólo presentar algunas de las columnas de df
#Se usan doble [] si es más de una columna, para pasarlo como una lista

segm_df[['Hombres','Mujeres']].plot(kind='barh')

In [0]:
#Notar que la columna col_3 tiene espacios en blanco
df=pd.DataFrame({'col_a':[1,2,3], 'col_b': [3,2,1], 'col_c': ['uno   ','dos   ','tres   ']})
df

In [0]:
#No trae los datos porque uno tiene espacios en blanco
cond=df['col_c']=='uno'
df[cond]

##Lambda

In [0]:
#hay una función que quita los espacios en blanco (string.strip) pero hay columnas que ocupan los espacios
#para corregir esto, podemos usar la función lambda que hace un recorrido en las columnas y ejecuta lo que le digamos, por ejemplo un strip, una suma, etc
#en este caso un strip para quitar los campos en blanco
df['col_c']= df['col_c'].apply(lambda x : x.strip())
df['col_c']

In [0]:
#ahora sí nos va a traer el resultado sin necesidad de poner espacios, porque ya los quitó
cond=df['col_c']=='uno'
df[cond]

###formatear la fecha con lambda

In [0]:
df['col_d']=['20190505', '20100310', '20190612']
df

In [0]:
df['col_d']= df['col_d'].apply(lambda x: x[:4]+'-'+x[4:6]+'-'+x[6:])
df

In [0]:
#Ahora vamos a cambiar el tipo de dato a fecha
df.info()

In [0]:
#cambiar a tipo datetime
df['col_d']=df['col_d'].apply(pd.to_datetime)

In [0]:
df.info()

In [0]:
df

#Librería matplotlib

In [0]:
import matplotlib.pyplot as plt

In [0]:
x=[1,2,3,4]
y=[1,4,9,16]
#en lo siguiente, la r es color rojo en la línea, la o es una "bolita" en los puntos y los -- que es punteada, si no pongo, deja sólo los puntos y un - es contínua
#r pued ser varios colores y o pueden ser otros tipos de marcadores, ej x,+,*
plt.plot(x,y,'ro--')
plt.title('Título del Gráfico')
plt.xlabel('Eje X')
plt.ylabel('Eje Y')
plt.grid(True)
plt.text(2,2,'Texto que quiera')
plt.legend('x')
#para no mostrar el encabezado por defecto [<matplotlib.lines.Line2D at 0x7f16c5b0dc50>]
plt.show()
plt.plot(x,y,'y*')
plt.show()

In [0]:
plt.bar(x,y)
plt.show()

In [0]:
plt.scatter(x,y)
plt.show()

In [0]:
#el explode es para separar una o más las porciones del centro del pie
plt.pie([25,25,25,25],labels=['grupo1','grupo2','grupo3','grupo4'],
        explode=[0,0,0,0.1], rotatelabels = True)
plt.show()

In [0]:
#Vamos a cargar el gráfico según el df que teníamos
df_distrito

In [0]:
plt.pie(df_distrito['Porcentaje'], labels=df_distrito.index.tolist(), explode=[0,0,0,0.1,0,0,0,0,0,0])
plt.title('Distribución por distrito')
plt.show()
plt.savefig('grafico1.png')

## Otros Graficos
Tenemos los tipo seaborn, pero son fijos, tenemos otra librería gráfica interactiva llamada plotly, la diferencia es que permite hacer otras cosas, como tener texto emergente, hacer zoom, mover el gráfico, etc... es diseñado para uso web.
Otro que hace lo mismo, se llama bokeh...
Ambas librerías se pueden analizar en sus páginas web y múltiples ejemplos de internet.

In [0]:
import numpy as np
import matplotlib.pyplot as plt

In [0]:
x=np.array([1,2,3,4,5])
x*2
#al cuadrado sería:  x**2

In [0]:
#arreglo de 100
x= np.arange(100)
x

In [0]:
x = np.arange(2,102,2)
x

In [0]:
x=np.arange(1,101,1)
x

In [0]:
y=x
y

In [0]:
plt.plot(x,y)
plt.show()

In [0]:
y2=x**2
plt.plot(x,y3)
plt.show()

In [0]:
y3=x**3
plt.plot(x,y3)
plt.show()

In [0]:
plt.plot(x,y)
plt.plot(x,y2)
plt.plot(x,y3)
#para que  no se vean valores muy grandes pongo límites
plt.ylim(0,500)
plt.show()

In [0]:
#Puedo cambiar el formato
plt.plot(x,y,'r.-')
plt.plot(x,y2)
plt.plot(x,y3)
#para que  no se vean valores muy grandes pongo límites
plt.ylim(0,500)
plt.show()

In [0]:
#Puedo cambiar el formato
plt.plot(x,y,label='Líneal')
plt.plot(x,y2,label='Cuadratica')
plt.plot(x,y3,label='Cúbica')
#para que  no se vean valores muy grandes pongo límites
plt.ylim(0,500)
#ver labels
plt.legend()
plt.title('Gráfico No. 1')
plt.xlabel('Eje X')
plt.ylabel('Eje Y')
plt.grid()
plt.show()

In [0]:
#Puedo cambiar el formato
plt.subplot(2,2,1)
plt.plot(x,y)
plt.subplot(2,2,2)
plt.plot(x,y2)
plt.subplot(2,2,3)
plt.plot(x,y3)
plt.subplot(2,2,4)
plt.plot(x,y)

plt.title('Titulo en conjunto')

plt.show()

In [0]:
import seaborn as sns

In [0]:
#puedo agreegar estilos: dark, white, darkgrid y whitegrid 
sns.set_style('darkgrid')
plt.plot(x,y2)
plt.show()

In [0]:
#ahora quiero hacer el gráfico con seaborn
sns.lineplot(x,y3)
plt.title('Titulo que quiera')
plt.show()

In [0]:
sns.scatterplot(x,y3)

In [0]:
#Agregar valores en una linea de espacio
x=np.linspace(-10,10,500)
y=x**2

In [0]:
sns.scatterplot(x,y)
plt.show()

In [0]:
#para "generarle ruido" a Y y que se vea más real, le voy a dar otros datos
y=x**2 + np.random.normal(0,50,500)
sns.scatterplot(x,y)
plt.show()

In [0]:

sns.scatterplot(x,y)
sns.lineplot(x,x**2, color='red')
plt.show()

In [0]:
#alpha es para darle trasparencia
sns.scatterplot(x,y,alpha=.3, color='orange')
sns.lineplot(x,x**2, color='red')
plt.show()

In [0]:
# Y son muchos datos "sucios"
y

In [0]:
#vamos a ver la distribución de Y
sns.distplot(y)
plt.show()

In [0]:
sns.scatterplot(x,y,alpha=.3, color='orange', size=x)
sns.lineplot(x,x**2)
plt.show()

In [0]:
#Seaborn tiene algunas BDs o datasets para hacer pruebas... Para el ejemplo, vamos a usar iris, que es para identificar distintas especies de orquídeas
iris=sns.load_dataset('iris')
print(iris)
iris.shape

In [0]:
#Cuando tengo datos numericos que tienen categorías, muchas veces quiero o comprar 2 variables a ver si tienen una relación lineal
#puedo hacer un scatograma de esto y separado por especie

sns.scatterplot(iris['sepal_length'], iris['petal_width'], hue=iris['species'],alpha=.5)

In [0]:
#Este usa todas las variables
sns.pairplot(iris)

In [0]:
#Este usa todas las variables para separandolo por especie
sns.pairplot(iris, hue='species')

##Nuevo ejemplo con PADRON

In [0]:
#Usando el PADRON
# 1- Carga de trabajo de reposición de cédulas
# 2- Será certo que en PZ hay más mujeres que hombres?
# 3- Prevalencia apellidos vs zonas geofraf
# 4- Equidad de género (cantidad)
# 5- Migracion

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
#cargo el archivo a un df, pero como el TSE no pone los encabezados, lo hago de forma manual
df_dist= pd.read_csv('Distelec.txt', encoding = 'latin-1', 
                     names=['codigo', 'provincia', 'canton','distrito'])

In [0]:
df_dist.head()

In [0]:
df_padron = pd.read_csv('PADRON_COMPLETO2.txt', encoding = 'latin-1', 
                        names = ['cedula', 'codigo', 'sexo', 'f.caduc', 'junta', 'nombre', 'apellido1', 'apellido2'])

In [0]:
df_padron.head(15)

In [0]:
df_dist.shape

In [0]:
df_padron.shape

In [0]:
#Vamos a unir los 2 df
#si las columnas tienen distinto nombre se usa .merge(df_dist,left_on ='col_izq',right_on='col_der')
df = df_padron.merge(df_dist, on='codigo')

In [0]:
df.sample(50)

In [0]:
#Quitamos junta porque no tiene datos ni aporta nada
df = df.drop('junta', axis =1)

In [0]:
df.sample(5)

In [0]:
df['provincia']=='SAN JOSE'

In [0]:
#Debo eliminar los espacios en blanco
df['distrito'].value_counts().index.to_list()

In [0]:
#Al realizar la verificación con los demás campos, veo que también ocurre con nombre y apellidos 
df['distrito'] = df['distrito'].apply(lambda x : x.strip())

In [0]:
df['nombre'] = df['nombre'].apply(lambda x : x.strip())
df['apellido1'] = df['apellido1'].apply(lambda x : x.strip())
df['apellido2'] = df['apellido2'].apply(lambda x : x.strip())

In [0]:
df['distrito'].value_counts().index.to_list()

In [0]:
df['sexo'].value_counts()

In [0]:
# está usando 1 para masculino y 2 para femenino, entonces lo cambio por M o F
df['sexo'] = df['sexo'].apply(lambda x: 'M' if x==1 else 'F')

In [0]:
df.sample(10)

In [0]:
#Ahora tenemos que cambiar la columna de fecha por un tipo datetime
df['f.caduc']=df['f.caduc'].apply(lambda x: str(x)[:4]+'-'+ str(x)[4:6]+'-'+ str(x)[6:])

In [0]:
df.info()

In [0]:
df.sample(50)

In [0]:
df['f.caduc']=df['f.caduc'].apply(pd.to_datetime)

In [0]:
df.info()

In [0]:
#para aclarar la primera pregunta
#ocupo la fecha de caducidad y restarle la fecha de hoy
#esto me da el time_delta que es la diferencia entre fechas
df['vencimiento']=df['f.caduc']- pd.to_datetime('2019-06-19')

In [0]:
df.sample(10)

In [0]:
df.to_csv('padron_modificado.csv', index=False)

###kaggle.com para revisarlo

In [0]:
df= pd.read_csv('padron_modificado.csv')

In [0]:
df.head()

In [0]:
#Preguntas
#1- Carga de trabajo en reposición de cédulas
#2- Será cierto qe hay más Mujeres que Hombres en PZ?
#3- Prevalencia de apellids por zona geográfica
#4- Equidad de género
#5- Migración

In [0]:
df.info()

In [0]:
#Vamos a volver a recalcular los datos de vencimieto de cedula, eliminando y volviendo a crear la columna
#Para no tener que poner df= XXX se pone el inplace
df.drop ('vencimiento',axis=1, inplace=True)

In [0]:
#Para responder primera pregunta
df['fecha_cad'].head()

In [0]:
df['fecha_cad']=df['fecha_cad'].apply(pd.to_datetime)

In [0]:
df.info()

In [0]:
#dt son funciones para datos de tipo datetime
df['fecha_cad'].dt.year.head()

In [0]:
df['fecha_cad'].dt.month_name().head()
#en Anaconda, se puede ver el nombre del mes en Español con el comando month_name(locale='es') o 'es_CR.utf8' en Mac o Linux

In [0]:
df['fecha_cad'].dt.day_name().head()

In [0]:
df['fecha_cad'].dt.year.value_counts()

In [0]:
sns.countplot(df['fecha_cad'].dt.year)
plt.xticks(rotation=45)
plt.show()

In [0]:
df['año']=df['fecha_cad'].dt.year
df['mes']=df['fecha_cad'].dt.month_name()
df.head()

In [0]:
condicion = df['año']==2028
df[condicion]['mes'].value_counts()

In [0]:
sns.countplot(df[condicion]['mes'],order=('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October', 'November', 'December'))
plt.xticks(rotation=45)
sns.set_style('darkgrid')
plt.show()

In [0]:
plt.figure(figsize=(20,20))
sns.set_style('darkgrid')
meses=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October', 'November', 'December']
plt.subplot(2,2,1)
sns.countplot(df[(df['año']==2024)]['mes'],order=meses)
plt.title('2024')
plt.xticks(rotation=45)
plt.subplot(2,2,2)
sns.countplot(df[(df['año']==2026)]['mes'],order=meses)
plt.title('2026')
plt.xticks(rotation=45)
plt.subplot(2,2,3)
sns.countplot(df[(df['año']==2028)]['mes'],order=meses)
plt.title('2028')
plt.xticks(rotation=45)
plt.subplot(2,2,4)
sns.countplot(df[(df['año']==2030)]['mes'],order=meses)
plt.title('2030')
plt.xticks(rotation=45)

plt.show

In [0]:
plt.figure(figsize=(10,10))
sns.set_style('darkgrid')
meses=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October', 'November', 'December']
plt.subplot(2,2,1)
sns.countplot(y=df[(df['año']==2024)]['mes'],order=meses)
plt.title('2024')
plt.xticks(rotation=45)
plt.subplot(2,2,2)
sns.countplot(y=df[(df['año']==2026)]['mes'],order=meses)
plt.title('2026')
plt.xticks(rotation=45)
plt.subplot(2,2,3)
sns.countplot(y=df[(df['año']==2028)]['mes'],order=meses)
plt.title('2028')
plt.xticks(rotation=45)
plt.subplot(2,2,4)
sns.countplot(y=df[(df['año']==2030)]['mes'],order=meses)
plt.title('2030')
plt.xticks(rotation=45)

plt.show

In [0]:
#Respuesta a segunda pregunta
#Identifico por provincia
round(df[(df['provincia']=='SAN JOSE') & (df['canton']=='PEREZ ZELEDON')]['sexo'].value_counts(normalize=True)*100,2)

In [0]:
#Respuesta es que no es cierto
#Verificamos sin los filtros para ver a nivel nacional
round(df['sexo'].value_counts(normalize=True)*100,2)

In [0]:
prov=['SAN JOSE', 'ALAJUELA','CARTAGO','HEREDIA','PUNTARENAS','LIMON','GUANACASTE','CONSULADO']
sns.countplot(y=df['provincia'],hue=df['sexo'],order=prov)
plt.show()

In [0]:
plt.figure(figsize=(15,15))
sns.set_style('darkgrid')
sns.countplot(y=df['sexo'],hue=df['provincia'])
plt.show()

In [0]:
sns.countplot(df[df['provincia']=='SAN JOSE']['canton'],hue=df['sexo'])
plt.xticks(rotation=90)
plt.show()

In [0]:
#Respuesta de ultima pregunta de Migración
df[df['provincia']=='CONSULADO']['canton'].value_counts()

In [0]:
sns.countplot(df[df['provincia']=='CONSULADO']['canton'])
plt.xticks(rotation=90)
plt.show()

In [0]:
df[(df['provincia']=='CONSULADO') & (df['canton']=='ESTADOS UNIDOS')]['distrito'].value_counts()

In [0]:
sns.countplot(df[(df['provincia']=='CONSULADO') & (df['canton']=='ESTADOS UNIDOS')]['distrito'])
plt.xticks(rotation=90)
plt.show()